---
import Layout from '@layouts/Layout.astro';
import { getEntry } from 'astro:content';
import { Image } from 'astro:assets';
import activeNav from '@svgs/active_nav_border.svg';

const { slug } = Astro.params;

if (slug === undefined) {
	throw new Error('Slug is provided');
}

const property = await getEntry('property', slug);

if (!property) {
	return Astro.redirect('/404');
}

---

<Layout title={property.data.title}>
	<main class='w-5/6 max-w-[1536px]'>
		<Image src={activeNav} alt='butts' />
    <section class="w-full [&>div]:mt-4 last:mb-4 first:flex-col [&>div]:flex-row">
      <div class="w-full flex justify-evenly items-center">
        <h1>
          {property.data.name}
        </h1>
        <ul class="flex flex-row justify-evenly">
          <li>
            {property.data.overview.bedrooms}
          </li>
          <li>
            {property.data.overview.bathrooms}
          </li>
          <li>
            {property.data.overview.sleeps}
          </li>
        </ul>
      </div>
    </section>
	</main>
</Layout>
